---
title: Eleven Eleven - A Rhode Island Band
---


.hero.hero1
  .content
    %h1
      Eleven Eleven

    %h2
      A Rhode Island / Southern New England band that you should check out

    %p
      Next show:
      %a{href: "https://genesisloungeri.com"} Genesis Grille &amp; Lounge
      June 8, 2019 at 8:30 PM

    %p.contact
      %a{href: "mailto:elevenelevenri@gmail.com"} E-mail us
      %a{href: "https://www.facebook.com/1111ri/"} Facebook


.hero.hero2

