---
title: Eleven Eleven - A Rhode Island Band
---


.hero.hero1
  .content
    %h1
      Eleven Eleven

    %h2
      A Rhode Island / Southern New England band that you should check out

    %p
      Next show:

      %a{href: "https://genesisloungeri.com"} Genesis Grille &amp; Lounge

    %p
      June 8, 2019 at 8:30 PM

.hero.hero2

