---
title: Eleven Eleven - A Rhode Island Band
---


.hero.hero1
  .content
    %h1
      Eleven Eleven

    %h2
      A Rhode Island / Southern New England band that you should check out

    %p
      

    %p.contact
      %a{href: "mailto:elevenelevenri@gmail.com"} E-mail us
      %a{href: "https://www.facebook.com/1111ri/"} Facebook


.hero.hero2

